@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    --blue: hsl(248, 32%, 49%);

    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

body {
    font-size: 16px;
    min-width: 100vh;
    background-color: var(--red);
    background-image: url(images/bg-intro-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    padding: 50px 200px;
    height: 100vh;
    max-width: 1500px;
    margin: auto;
    column-gap: 40px;
}

.left-col,
.right-col {
    flex: 1;
}



.left-col .left-title {
    color: #fff;
    font-size: 50px;
    line-height: 1.1;
}

.left-col .left-desc {
    font-size: 16px;
    margin-top: 30px;
    color: #fff;
}

.right-col {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.right-col .top-card {
    background-color: var(--blue);
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 7px hsla(249, 10%, 26%, 0.404);
}

.right-col .top-card span {
    font-weight: 700;
}

.right-col .main-card {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 7px hsla(249, 10%, 26%, 0.404);
}

.main-card .main-card-form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: relative;
}

.main-card .main-card-form .input {
    padding: 10px;
    outline: none;
    border: 1px solid var(--grayish-blue);
    border-radius: 5px;
    width: 100%;
}

.main-card .main-card-form .input.active {
    border: 2px solid var(--red);
}


.main-card .main-card-form .error-text {
    display: none;
}

.error {
    font-size: 11px;
    color: var(--red);
    text-align: end;
    margin-top: 5px;
    display: block !important;
}

.main-card .main-card-form input::placeholder {
    font-weight: 600;
    color: var(--dark-blue);
}

.main-card .form-button {
    padding: 13px;
    border: none;
    outline: none;
    background-color: var(--green);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 3px hsla(249, 10%, 26%, 0.404);
    cursor: pointer;
    letter-spacing: 1.5px;
}

.main-card .form-footer {
    margin-top: 20px;
}

.main-card .form-footer p {
    font-size: 12px;
    color: var(--grayish-blue);
    text-align: center;
}

.main-card .form-footer a {
    text-decoration: none;
    font-weight: 600;
    color: var(--red);
}

@media(max-width: 1200px) {
    .container {
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
        padding: 30px;
        margin: 20px 0;
        max-width: 400px;
        align-items: center;
        justify-content: center;
    }

    .left-col .left-title {
        font-size: 35px;
    }

    .left-col .left-desc {
        font-size: 14px;
        margin-top: 10px;
        color: #fff;
    }
}