@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --blue: hsl(246, 80%, 60%);
    --light-red: hsl(15, 100%, 70%);
    --soft-blue: hsl(195, 74%, 62%);
    --light-red: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --soft-orange: hsl(43, 84%, 65%);

    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);

}

body {
    background-color: var(--very-dark-blue);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    column-gap: 30px;
}

.active {
    color: #fff !important;
}

.person-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--dark-blue);
    border-radius: 10px;
}

.person-card .person-info {
    background-color: var(--blue);
    padding: 20px 10px 50px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.person-card img {
    width: 75px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.person-card .person-desc {
    display: flex;
    flex-direction: column;
    row-gap: 7px;

}

.person-card .person-desc p {
    color: var(--pale-blue);
    font-size: 16px;
}

.person-card .person-desc h1 {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1.2px;
}

.person-card .person-time {
    padding: 20px 80px 30px 20px;
    border-radius: 10px;
}

.person-card .person-time .person-time-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.person-card .person-time .person-time-list a {
    text-decoration: none;
    color: var(--desaturated-blue);
    font-size: 16px;
}

.person-card .person-time .person-time-list a:hover {
    color: #fff;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}



.cards .card {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}



.cards .card .card-img {
    display: flex;
    justify-content: end;
    border-radius: 10px;
}

.cards .work {
    background-color: var(--soft-orange);
}

.cards .play {
    background-color: var(--soft-blue);
}

.cards .study {
    background-color: var(--light-red);
}

.cards .exercise {
    background-color: var(--lime-green);
    height: 100px;
    height: 80px;

}

.cards .social {
    background-color: var(--violet);
    height: 80px;

}

.cards .self-care {
    background-color: var(--soft-orange);
    height: 80px;
}



.cards .card .card-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 30px 20px;
    cursor: pointer;
}

.cards .card .card-info:hover {
    opacity: .4;
}

.cards .card .card-info .card-title {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.cards .card .card-info .card-title h4 {
    font-size: 16px;
    font-weight: 500;
}

.cards .card .card-info .card-desc {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-right: 50px;
}

.cards .card .card-info .card-desc h1 {
    color: #fff;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 1.1px;
}

.cards .card .card-info .card-desc p {
    color: var(--pale-blue);
    font-size: 14px;
    letter-spacing: 1.1px;
}



@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 350px;
        flex-direction: column;
        row-gap: 20px;
    }

    .person-card {
        display: flex;
        flex-direction: column;
    }

    .person-card .person-info {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .person-card img {
        width: 45px;
    }

    .person-card .person-desc p {
        font-size: 12px;
    }


    .person-card .person-desc h1 {
        font-size: 20px;
    }

    .person-time .person-time-list {
        display: flex;
        flex-direction: row !important;
        column-gap: 50px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .cards h1 {
        font-size: 26px !important;
    }

    .cards h4 {
        font-size: 14px !important;
    }


    .cards .card .card-desc {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
    }

    .cards .card .card-info .card-desc {
        padding: 0;
    }



    /* .cards .card .card-info {
        padding: 0;
    } */

}